body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

h2 {
  margin: 0;
  font-size: 12px;
}

.header {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

.logo_img {
  width: 40px;
  height: 40px;
  display: block;
}

.nav__list {
  align-items: center;
  column-gap: 20px;
  display: flex;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  text-transform: uppercase;
  color: #060b35;
  align-items: center;
  height: 60px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s;
  display: flex;
  position: relative;
}

.nav__link:hover, .is-active {
  color: #00acdc;
}

.is-active:after {
  content: "";
  border-bottom: 4px solid #00acdc;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cards {
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .cards {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .cards {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .cards {
    grid-template-columns: repeat(4, 200px);
  }
}

@media (width >= 1200px) {
  .cards {
    padding-inline: 128px;
  }
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
  transition: transform .3s, color .3s;
}

.card:hover {
  transform: scale(1.2);
}

.card__photo {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
  display: block;
}

.card__title {
  color: #060b35;
  padding-bottom: 4px;
  font-weight: 500;
  line-height: 18px;
}

.card:hover .card__title {
  color: #34568b;
}

.card__code {
  color: #616070;
  margin-bottom: 16px;
  font-size: 10px;
}

.card__review-container {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
  display: flex;
}

.card__review-text {
  font-size: 10px;
}

.card__price {
  justify-content: space-between;
  line-height: 18px;
  display: flex;
}

.card__price-name {
  color: #616070;
}

.card__price-cost {
  color: #060b35;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
}

.card__button-buy {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  display: flex;
}

.card__button-buy:hover {
  color: #00acdc;
  background-color: #fff;
}

.stars {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.stars__star {
  background: url("star.fa806e3c.svg") center no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 .stars__star:first-child, .stars--2 .stars__star:nth-child(-n+2), .stars--3 .stars__star:nth-child(-n+3), .stars--4 .stars__star:nth-child(-n+4), .stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}
/*# sourceMappingURL=index.e378193d.css.map */
